.user-div {
    width: 230px;
    height: 140px;
    padding: 20px;
    border: 2px solid #bcb7b7;
    border-radius: 10px;
}

table, td {
    border: #bcb7b7 1px solid;
    border-collapse: collapse;
}

table {
    margin: 10px;
}

td {
    padding: 5px;
}
