* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#text {
    width: 100px;
    height: 100px;
}

#hide-btn {
    width: 100px;
}

#age-checker {
    width: 200px;
    height: 100px;
    margin-top: 20px;
}

form {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}

#users {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

#converter {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}

.input-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#table-maker {
    display: flex;
    flex-direction: column;
    width: 400px;
}
