* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
}

button {
    border: none;
    background: #3e65b8;
    color: white;
    padding: 15px;
    min-width: 150px;
    border-radius: 10px;
}

.task-wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 2px solid #bcb7b7;
    border-radius: 10px;
    box-shadow: 8px 8px 4px -7px rgba(77,75,77,0.73);
}

#text {
    width: 80%;
    text-align: center;
}

#hide-btn {
    width: 100px;
}

#age-checker {
    width: 200px;
    height: 100px;
    margin-top: 20px;
}

form {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}

#users {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

#converter {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}

.input-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#table-maker {
    display: flex;
    flex-direction: column;
    width: 400px;
}
