* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
}

button {
    border: none;
    background: #3e65b8;
    color: white;
    padding: 15px;
    min-width: 150px;
    border-radius: 10px;
}

input {
    border: #989898 solid 1px;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    padding: 0 10px;
}

input:focus, input:active {
    outline: none;
}

label {
    font-size: 14px;
    color: #716f6f;
}

form {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}

.task-wrapper {
    width: 1200px;
    margin: 0 auto 20px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 2px solid #bcb7b7;
    border-radius: 10px;
    box-shadow: 8px 8px 4px -7px rgba(77,75,77,0.73);
}

.input-wrap {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

/*--------------- Task 10.1 ---------------*/
#text {
    width: 80%;
    text-align: center;
}

/*--------------- Task 10.2 ----------------*/
#age-checker p {
    height: 20px;
    font-weight: bold;
}

/*--------------- Task 10.3 ----------------*/
#cards {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
}

/*--------------- Task 10.8 ---------------*/
#table-content {
    width: 100%;
    overflow: auto;
}

/*--------------- Pagination ---------------*/
.paginator {
    display: grid;
    grid-template-columns: 320px 320px;
    grid-template-rows: auto;
    column-gap: 50px;
    row-gap: 20px;
}